.nnn-header {
	position: fixed;
	top: 0px;
	width: 100%;
	background-color: #A7B2BA;
	text-align: center;
	z-index: 99999999999;
	opacity: .9;
	pointer-events: none;
}

.nnn-header h2 {
	opacity: 1;
	color: black;
}

.nnn-overlay {
	position: fixed;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: #A7B2BA;
	text-align: center;
	z-index: 99999999999;
	opacity: .95;
}

.nnn-overlay h1 {
	opacity: 1;
	color: black;
}

.nnn-overlay p {
	opacity: 1;
	color: black;
}
